img{
    max-width:100%;
}


.wrapper{
    background:#f2f2f2;
    color:#666666;
    padding:50px 0;
    margin:0;
    
}

.main{
    width:100%;
    max-width:980px;
    margin:0 auto;
    background-color:#FFFFFF;
    border:1px solid #e8e8e8;
}

.survey-wrapper{
    
}

.wrapper-row{
    padding:0 20px;
}

.survey-form{
    
}
.clear{
	clear:both;
}
/***************************************
SURVEY TOPBAR
***************************************/
.survey-topbar {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #e8e8e8;
}

.survey-topbar a{
    color: #666666;
}
.survey-topbar a:hover{
    color: #333333;
}

.survey-topbar-left{
	width:50%;
	float:left;
	text-align: left;
}
.survey-topbar-right{
	width:50%;
	float:right;
	text-align:right;

}
.survey-topbar-left .survey-timer{
	color: #666666;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


/***************************************
SURVEY HEADER
***************************************/

.survey-header{
    border-bottom:1px solid #e8e8e8;
    margin-bottom: 20px;
	position:relative;
}
.survey-title{
    color:#666666;
    text-align: center;
    font-size: 24px;
    line-height:30px;
    font-weight:400;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    position:relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.survey-title:before{
    content: "";
    width: 160px;
    height: 0;
    background: #ffffff;
    border-bottom: 1px solid #a8a8a8;
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    margin: 0 0 0 -80px;
}
.survey-title:after{
    content: "";
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #747474;
    display: block;
    position: absolute;
    top: 47px;
    border-radius: 50%;
    left: 50%;
    margin: 0 0 0 -8px;
    box-shadow: 0px 0px 0px 4px #FFFFFF;
}

.survey-description{
    color:#747474;
    text-align: center;
    font-size: 18px;
    line-height:24px;
    font-weight:400;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
/***************************************
SURVEY ERROR MESSAGES
***************************************/
.survey-error-messages{
    border:2px dashed #E65100;
    margin-bottom: 20px;
	padding: 50px 20px;
	text-align: center;
	position:relative;
}
.survey-error-message{
    color:#E65100;
    text-align: center;
    font-size: 18px;
    line-height:24px;
    font-weight:400;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    position:relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/***************************************
SURVEY SUCCESS MESSAGES
***************************************/
.survey-success-messages{
    border:2px dashed #689F38;
    margin-bottom: 20px;
	padding: 50px 20px;
	text-align: center;
	position:relative;
}
.survey-success-title{
    color:#689F38;
    text-align: center;
    font-size: 24px;
    line-height:30px;
    font-weight:400;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    position:relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.survey-success-description{
    color:#999999;
    text-align: center;
    font-size: 16px;
    line-height:20px;
    font-weight:400;
    padding: 5px 0 5px 0;
    margin: 0 0 5px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/***************************************
SURVEY CONTENT
***************************************/
.survey-content{
    
}

.survey-group{
    border: 1px solid #e8e8e8;
    margin-bottom:30px;
}

.group-header{
    border-bottom: 1px solid #e8e8e8;
}

.group-title{
    color:#747474;
    text-align: center;
    font-size: 18px;
    line-height:24px;
    font-weight:400;
    padding: 5px 0 5px 0;
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.group-description{
    color:#999999;
    text-align: center;
    font-size: 16px;
    line-height:20px;
    font-weight:400;
    padding: 5px 0 5px 0;
    margin: 0 0 5px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


.group-content{
    padding:20px;
}
/***************************************
FIELD
***************************************/

.field-label{
    text-align: left;
    margin-bottom: 10px;
}
.field-label label{
    margin-bottom: 0;
    padding:0;
    font-weight: 100;
}
.field-title{
    color: #747474;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    padding: 0;
    margin: 0 0 5px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.field-description{
    color: #b8b8b8;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.media-type-image{
    max-width:100%;
	margin: 12px 0;
}
.media-type-audio{
	border: 1px solid #e8e8e8;
    margin: 12px 0;
    padding: 0px;
    display: block;
    width: 100%;
    min-height: 34px;
    position: relative;
}

.field {
    margin-bottom: 20px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #e8e8e8;
}
.field-option{
    padding:0;
    margin-bottom: 5px;
    border-bottom: 1px dotted #e8e8e8;
}
.field-option:last-child{
    margin-bottom: 0;
    border-bottom: none;
}
.field-option label,
.field .field-option label{
    display: block;
    padding: 6px 0 7px 40px;
    color: #747474;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

select,
textarea,
.field input[type="text"],
.field input[type="email"], 
.field input[type="number"], 
.field input[type="password"], 
.field input[type="password"] input[type="number"], 
.field input[type="tel"],
.field input[type="url"],
.field select,
.field select[multiple=multiple]{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    width: 100%;
    min-height: 50px;
    padding: 10px 10px;
    margin: 0;
    color: #747474;
    background-color: #faf8f7;
    border: 1px solid #e8e8e8;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

select:focus,
textarea:focus,
.field input[type="text"]:focus,
.field input[type="email"]:focus, 
.field input[type="number"]:focus, 
.field input[type="password"]:focus, 
.field input[type="password"] input[type="number"]:focus, 
.field input[type="tel"]:focus,
.field input[type="url"]:focus,
.field select:focus,
.field select[multiple=multiple]{
    background-color: #f5f3f2;
    border: 1px solid #c4c4c4;
}

input[type=radio], 
.radio input[type=radio], 
.field-wrapper .field.radio input[type=radio], 
 input[type=checkbox],
.checkbox input[type=checkbox],
.field-wrapper .field.checkbox input[type=checkbox] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 30px;
    margin: 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    min-width: 24px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}

input[type=radio], 
.radio input[type=radio], 
.field-wrapper .field.radio input[type=radio] {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input[type=radio]:checked:before ,
.radio input[type=radio]:checked:before ,
.field-wrapper .field.radio input[type=radio]:checked:before {
    content: "";
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 14px;
    height: 14px;
    margin: 7px;
    display: block;
    background-color: #1e8cbe;
}

input[type=checkbox]:checked:before ,
.radio input[type=checkbox]:checked:before ,
.field-wrapper .field.radio input[type=checkbox]:checked:before {
    content: "";
    width: 14px;
    height: 14px;
    margin: 7px;
    display: block;
    background-color: #1e8cbe;
}
/***************************************
SURVEY FOOTER
***************************************/
.survey-footer{
    text-align: center;
    padding:20px;
    margin: 0 20px 30px 20px;
    border:1px solid #e8e8e8;
}

.button{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 5px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border: none;
    color: #ffffff;
    background-color: #454545;
    padding: 12px 30px 13px 30px;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
        -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.button:hover{
    color: #ffffff;
    background-color: #121212;
}

/***************************************
SURVEY FOOTER
***************************************/

.survey-copyright {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #454545;
    border: 1px solid #454545;
}

.survey-copyright a{
    color: #ffffff;
}
.survey-copyright a:hover{
    color: #ffffff;
}

/***************************************
SURVEY THEMES
***************************************/

/***************************************
THEME MINIMAL
***************************************/
.theme-minimal{
	padding:0;
}
.theme-minimal .main{
	max-width:98%;
}
.theme-minimal .survey-copyright{
	max-width:100%;
}
