html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    color: #454545;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
img{
    max-width:100%;
}


.wrapper{
    padding:0;
    margin:0;
}
 
.main{
    width:100%;
    margin:0 auto;
}
 
.wrapper-row{
    padding:0 20px;
}
.clear{
	clear:both;
}



/***************************************
VISUALIZATION ERROR MESSAGES
***************************************/
.visualization-error-messages{
    border:2px dashed #E65100;
    margin-bottom: 20px;
	padding: 50px 20px;
	text-align: center;
	position:relative;
}
.visualization-error-message{
    color:#E65100;
    text-align: center;
    font-size: 18px;
    line-height:24px;
    font-weight:400;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    position:relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/***************************************
VISUALIZATION SUCCESS MESSAGES
***************************************/
.visualization-success-messages{
    border:2px dashed #689F38;
    margin-bottom: 20px;
	padding: 50px 20px;
	text-align: center;
	position:relative;
}
.visualization-success-title{
    color:#689F38;
    text-align: center;
    font-size: 24px;
    line-height:30px;
    font-weight:400;
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    position:relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.visualization-success-description{
    color:#999999;
    text-align: center;
    font-size: 16px;
    line-height:20px;
    font-weight:400;
    padding: 5px 0 5px 0;
    margin: 0 0 5px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


/***************************************
FIELD
***************************************/



.field {
    margin-bottom: 20px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #e8e8e8;
}
.field-option{
    padding:0;
    margin-bottom: 5px;
    border-bottom: 1px dotted #e8e8e8;
}
.field-option:last-child{
    margin-bottom: 0;
    border-bottom: none;
}
.field-option label,
.field .field-option label{
    display: block;
    padding: 6px 0 7px 40px;
    color: #747474;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

select,
textarea,
.field input[type="text"],
.field input[type="email"], 
.field input[type="number"], 
.field input[type="password"], 
.field input[type="password"] input[type="number"], 
.field input[type="tel"],
.field input[type="url"],
.field select,
.field select[multiple=multiple]{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    width: 100%;
    min-height: 50px;
    padding: 10px 10px;
    margin: 0;
    color: #747474;
    background-color: #faf8f7;
    border: 1px solid #e8e8e8;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

select:focus,
textarea:focus,
.field input[type="text"]:focus,
.field input[type="email"]:focus, 
.field input[type="number"]:focus, 
.field input[type="password"]:focus, 
.field input[type="password"] input[type="number"]:focus, 
.field input[type="tel"]:focus,
.field input[type="url"]:focus,
.field select:focus,
.field select[multiple=multiple]{
    background-color: #f5f3f2;
    border: 1px solid #c4c4c4;
}

input[type=radio], 
.radio input[type=radio], 
.field-wrapper .field.radio input[type=radio], 
 input[type=checkbox],
.checkbox input[type=checkbox],
.field-wrapper .field.checkbox input[type=checkbox] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 30px;
    margin: 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    min-width: 24px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}

input[type=radio], 
.radio input[type=radio], 
.field-wrapper .field.radio input[type=radio] {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

input[type=radio]:checked:before ,
.radio input[type=radio]:checked:before ,
.field-wrapper .field.radio input[type=radio]:checked:before {
    content: "";
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 14px;
    height: 14px;
    margin: 7px;
    display: block;
    background-color: #1e8cbe;
}

input[type=checkbox]:checked:before ,
.radio input[type=checkbox]:checked:before ,
.field-wrapper .field.radio input[type=checkbox]:checked:before {
    content: "";
    width: 14px;
    height: 14px;
    margin: 7px;
    display: block;
    background-color: #1e8cbe;
}
/***************************************
VISUALIZATION FOOTER
***************************************/
.visualization-footer{
    text-align: center;
    padding:20px;
    margin: 0 20px 30px 20px;
    border:1px solid #e8e8e8;
}

.button{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 5px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border: none;
    color: #ffffff;
    background-color: #454545;
    padding: 12px 30px 13px 30px;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
        -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.button:hover{
    color: #ffffff;
    background-color: #121212;
}

/***************************************
VISUALIZATION COPYRIGHT
***************************************/
.aione-copyright {
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: #454545;
}

.aione-copyright a{
    color: #ffffff;
}
.aione-copyright a:hover{
    color: #ffffff;
}

/***************************************
VISUALIZATION THEMES
***************************************/

/***************************************
THEME MINIMAL
***************************************/
.theme-minimal{
	padding:0;
}
.theme-minimal .main{
	max-width:100%;
}
.theme-minimal .visualization-copyright{
	max-width:100%;
}
/*embeded visualization css*/
.chart-row{
    border: 1px solid #e8e8e8 !important;
    margin-bottom: 15px;
}
.chart-row h4{
    padding-left: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
}
.chart-row h4 span img{
    width: 20px;
    float: right;
    margin-right: 25px;
}
.none{
    display: none;
}

.chart-wrapper-left{
    float: left;
}


.chart-wrapper-left .chart-row{
    background:white;
}

.chart-row > h4 > span > a > img{
    transform: rotate(180deg);
}


.filter-title{
    border-bottom: 1px solid #e8e8e8;
}
.filter-title img{
    width: 20px;
    float: right;
    margin-right: 25px;
}
