<style type="text/css">
    .questType , .pattern, .required{
    border: none !important;
    background:#fff  !important;
    border-bottom: 1px solid #e8e8e8;
}
.text-field-design{
    border:1px solid hsla(0, 0%, 0%, 0.12) !important;
    border-width: 1px !important;
    padding :8px !important;
    
}
.text-field-design:focus{
    border:1px solid !important;
    border-width: 1px !important;
    padding :8px !important;
    
}
</style>
<div md-whiteframe="2" class="mt-10 field-frame fieldDiv groupFrameDiv" flex="100" style="background-color: #fff">
    <div layout="row">
        <div>
            <div style="cursor: move" class="md-primary-bg ph-10 pv-5 md-headline mt-5 field-count">1</div>
        </div>
        <div class="md-subhead pl-10" layout="row" flex="90" layout-align="start center">
            <div flex="50" layout="row" layout-align="start center" class="field_title">
                <!-- Question -->
            </div>
            <div flex="50" layout="row" layout-align="end center">
                <span class="text-boxed md-accent-bg white-fg font-size-14">Field ID:<span class="font-size-14 pl-10 fieldID"></span></span>
            </div>
        </div>
        <div flex="10" layout="row" layout-align="end center" class="pr-10 ">
            <md-button class="md-icon-button delete-field"><md-tooltip md-direction="top" class="md-body-1">Delete Field</md-tooltip><md-icon md-font-icon="icon-trash"></md-icon></md-button>
            
            <!-- <md-button class="md-icon-button accrodian" style="transform: rotate(0deg);"><md-tooltip md-direction="top" class="md-body-1">Minimize / Maximize </md-tooltip><md-icon md-font-icon="icon-chevron-down"></md-icon></md-button> -->
            <span><img src="assets/images/arrow-down.png" style="width: 18px;cursor: pointer;"><md-tooltip md-direction="top" class="md-body-1">Minimize / Maximize</md-tooltip></span>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row" class="main-row">
        <div flex="50" class="ph-20">
            <md-input-container class="md-block grey-600-fg mb-15 font-size-18 font-weight-600 mt-25" md-no-float  >
               <div class="md-subhead font-weight-300 font-size-14 ">Select Field type</div>
                <select style="width: 100%;border: 1px solid #e8e8e8 !important;padding:5px" class="font-size-16 fieldType">
                    <option value="text" class="md-body-1" selected="selected">Text (Single box)</option>
                    <option value="checkbox" class="md-body-1" >Multiple choice (Checkboxes)</option>
                    <option value="radio" class="md-body-1" >Single choice (Radio button)</option>
                    <option value="dropdown" class="md-body-1" >Dropdown (Select box)</option>
                    <option value="text_only" class="md-body-1" >Paragraph (Text area)</option>
                    <option value="date" class="md-body-1" >Date (Datepicker)</option>
                    <option value="location" class="md-body-1" >Location (Location Picker)</option>
                    <option value="text_image" class="md-body-1" >Message</option>
                </select>
            </md-input-container>
            <div layout="column" layout-align="center stretch" class="mv-20">   
                <label class="font-size-14 font-weight-300 grey-600-fg mb-10">Field title</label>
                <input type="text" name="name" class="fieldTitle text-field-design"  />
            </div>
            <label class="font-size-14 font-weight-300 grey-600-fg mb-10">Field Description</label>
            <md-input-container class="md-block" md-no-float >
                
                <textarea class="fieldDescription" aria-label="textarea" rows="3" md-select-on-focus></textarea>
                
                
            </md-input-container>
             <div text-angular ng-model="htmlVariable" ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote','html', 'insertImage', 'insertLink', 'insertVideo','bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo', 'clear','justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent','wordcount', 'charcount']]" class="questDescription">
                                    </div>
            <div>
                <md-button class="ph-15 md-accent md-raised add_media" >add media</md-button>
            </div>
            <!-- <md-input-container class="md-block" md-no-float>
                <label class="font-size-18 font-weight-500 grey-600-fg">Question key</label>
                 <input type="text" name="title" class="questKey" />
                
            </md-input-container> -->
            <div layout="column" layout-align="center stretch" class="mv-20">   
                <label class="font-size-14 font-weight-300 grey-600-fg mb-10">Field key</label>
                <input type="text" name="name" class="fieldKey text-field-design"  />
            </div>
            <!-- <md-input-container class="md-block" md-no-float>
               <md-checkbox name="tos" ng-model="project" class="requiredQuest" required>
                  Required
               </md-checkbox>
                                                         
            </md-input-container> -->
            <md-input-container class="md-block" md-no-float >
                <div class="font-size-14 font-weight-300 grey-600-fg mb-10">
                    Required
                </div>
                <select style="width: 100%;border: 1px solid #ededed !important;padding: 5px;" class="font-size-16 required" >
                   
                    
                    <option value="no" class="md-body-1" >No</option>
                    <option value="yes" class="md-body-1" >Yes</option>
                   
                </select>
                
            </md-input-container>   
            <!-- <md-input-container class="md-block" md-no-float>
                <label class="font-size-18 font-weight-500 grey-600-fg">Next Question</label>
                <input type="text" name="title" class="nextQuest">
                
            </md-input-container> -->
            <div layout="column" layout-align="center stretch" class="mv-20">   
                <label class="font-size-14 font-weight-300 grey-600-fg mb-10">Next Field</label>
                <input type="text" name="name" class="nextQuest text-field-design"  />
            </div>
            <md-input-container class="md-block" md-no-float >
                <div class="font-size-14 font-weight-300 grey-600-fg mb-10">
                    Validation
                </div>
                <select style="width: 100%;border: 1px solid #e8e8e8 !important;" class="font-size-16 pattern text-field-design" >
                   <option value="blank" class="md-body-1" >No validation</option>
                   <option value="url" class="md-body-1" >URL</option>
                    <option value="email" class="md-body-1" >Email</option>
                    <option value="number" class="md-body-1" >Numbers</option>
                    <option value="text" class="md-body-1" >Text</option>
                    <option value="others" class="md-body-1" >Others</option>
                   
                </select>
                
            </md-input-container>
           <!--  <md-input-container class="md-block mt-35" md-no-float ng-show="other_pattern" >
                <label class="font-size-18 font-weight-500 grey-600-fg">Enter Pattern</label>
                <input type="text" name="title" class="othetPattern">
                
            </md-input-container> -->
            <md-input-container class="font-size-14 font-weight-300 grey-600-fg md-block mt-35 patternChange" md-no-float style="display: none">
                <label class="font-size-16 font-weight-300 grey-600-fg">Enter Pattern</label>
                <input type="text" name="title" class="othetPattern">

            </md-input-container>
        </div>
        <md-divider></md-divider>
        <div flex="50" class="ph-15 addQuestion_right_section" layout="column" >
            <div layout="column">
                <div flex="100" id="div-one" layout="row" layout-wrap>
                    <div flex="100" layout="row" layout-align="start stretch">
                        <div flex="100" class="md-subhead mt-10" style="border-bottom: 1px solid #e8e8e8">
                            Options
                        </div>
                    </div>
                    <div class="keyValue">
                        <div flex="100" layout="row" class="keyValMinus extraOptions" layout-wrap>
                            <div flwx="100" layout="row" layout-wrap class="ph-10 mt-10" style="border:1px solid #e8e8e8;">
                                 <div flex="100" layout="row" layout-align="start center" class="p-10" style="cursor:move;background-color: #e8e8e8;margin-right: -10px;margin-left: -10px">
                                    <md-icon md-font-icon="icon-cursor-move"></md-icon>
                                </div>
                                <div flex="100" layout="row" class="mt-10 ">
                                   
                                    <div flex="100" layout="column" layout-align="center stretch">
                                        <input type="text" name="title" class="optionKey text-field-design" placeholder="Option Label" required="required"/>
                                    </div>
                                </div>
                                <div flex="100" layout="row" class="mv-10">
                                   
                                    <div flex="100" layout="column" layout-align="center stretch">
                                        <input type="text" name="title" class="optionValue text-field-design" placeholder="Option Value" required="required"/>
                                    </div>
                                </div>
                                <div  flex="100" layout="row" class="mb-10">
                                    
                                    <div flex="100" layout="column" layout-align="center stretch">
                                        <input type="text" name="title" class="Condition text-field-design" placeholder="Go to question" />
                                    </div>
                                </div>
                                <div flex="100" layout="row" layout-align="end center">
                                    <md-button class="md-icon-button delKeyVal" aria-label="button-del">
                                        <md-icon md-font-icon="icon-trash red-fg"></md-icon>
                                        </md-button>
                                </div>
                            </div>
                           
                        </div>
                         <div layout="row" layout-align="end center" flex="100" class="mt-10"><md-button class="md-accent md-raised ph-15 addKeys">Add Option</md-button></div>
                    </div>
                    
                </div>
                <div class="div-two">
                    <md-input-container class="md-block md-input-focused mb-15 font-size-20 font-weight-300" md-no-float >
                        <label class="font-size-16 font-weight-300"></label>
                        <lf-ng-md-file-input lf-files="files" lf-api="api09" lf-maxcount="1" lf-filesize="2MB" lf-totalsize="2MB" accept="image/*" progress preview ></lf-ng-md-file-input>
                    </md-input-container>
                </div>
            </div>
            
        </div>
    </div>
</div>